body {
    background-image: url('../assets/bg.jpg');
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(245, 245, 245, 0.862);
    box-shadow: 5px 5px 10px rgba(52, 52, 52, 0.221);
    padding: 15px;
    border-radius: 8px;
}

.login-form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.login-header > img {
    width: 200px;
}

.login-header > h1 {
    color: #333;
    font-size: 1.5rem;
}

.login-input {
    border: 2px solid #333;
    border-radius: 8px;
    outline: none;
    color: #333;
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 300px;
    width: 100%;
}
 
.login-button {
    background-color: #00b5cc;
    border: 3px solid #b2df28;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px;
    max-width: 300px;
    width: 100%;
}

.login-button:disabled {
    background-color: #eee;
    border: 2px solid #969595;
    color: #aaa;
    cursor: auto;
}

.hidden {
    display: none;
}

.show {
    display: block;
}